<div class="row">
    <div class="col-12 bg-dark text-light">
        <div id="titulo" class="font-weight-bold pt-1 offset-1 float-left">PORTAL DE VIAGENS</div>
        <div class="btn-group float-right col-3" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-dark font-weight-light">Destinos</button>
            <button type="button" class="btn btn-dark font-weight-light">Viagens</button>
            <button type="button" class="btn btn-dark font-weight-light">Contato</button>
        </div>
    </div>
</div>